.contact {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted grey;
}

.contact-image {
    border-radius: 50%;
    margin: 5px;
}

.contact-name {
    font-size: 20px;
    font-weight: bold;
}

.contact-number {
    font-size: 18px;
    color: grey;
}

.contact-email,
.contact-address {
    font-size: 16px;
    color: grey;
}

.hidden {
    display: none;
}