* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#mount-point {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-app {
    max-width: 960px;
    width: 100%;
}

.app-header {
    text-align: center;
    font-weight: 500;
    color: grey;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}