* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#mount-point {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.note {
    width: 200px;
    height: auto;
    float: left;
    background-color: yellow;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.note:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.delete-note {
    position: absolute;
    top:5px;
    right:5px;
    display: none;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.note:hover .delete-note {
    display: block;
}

.note-editor {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.textarea {
    width: 100%;
    resize: none;
    margin: 5px;
    font-size: 14px;
    border: none;
    font-weight: 300;
}

.textarea:focus {
    outline: 0;
}

.add-button {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 100px;
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:8px 8px;
    text-transform: uppercase;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.add-button:hover {
    background-color:#5cbf2a;
}

.add-button:active {
    position:relative;
    top:1px;
}

.add-button:focus {
    outline: 0;
}

.notes-grid {
    margin: 0 auto;
}

.notes-app {
    max-width: 960px;
    width: 100%;
}

.app-header {
    text-align: center;
    font-weight: 500;
    color: grey;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}